<div class="container drop">
    <form>

        <div class="form-group">
            
            <div class="col-md-4"></div>
            <div class="col-md-4">
                    <h3 class="text-center">Employee Login</h3>
                <div class="row">
                    
                    <label>Email</label>
                    <input class="form-control" type="email" required="required" ng-model="employee.email">
                </div>
                <div class="row">
                    <label>Password</label>
                    <input class="form-control" type="password" required="required" ng-model="employee.password">
                </div>
                <div class="row">
                    <button class="btn btn-primary pull-right buttonDrop" ng-click="employeeLogin()">Login</button>
                </div>

            </div>
            <div class="col-md-4"></div>


        </div>
    </form>
</div>