
  

    <div class="row">
        <div class="main-header box container">
            <img src="./images/banner_park.jpg" class="img-rounded" alt="">
            
            <button class="btn btn-lg" ui-sref="loginEmployee">Employee Login</button>
            <button class="btnPM btn-lg" ui-sref="loginPropertyManager">Property Manager Login</button>
        </div>
        <div class="row">
                <div class="container display">
                        <strong>parkFly</strong> is a parking management platform that enables property management, property owners, tenants of commercial real estate and apartments complex to inventory, track and notify users. 
                </div>
    </div>
    

    <div classs "row">
<!--        
        <div class="container display" ng-model="company" id="company" ng-hide="showButton">
                Company ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="container display" ng-model="info" id="info" ng-hide="showButton">
                Info ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div> -->
    </div>
   
    </div>

    <div classs "row">
        <div class="container text-center compaines">
            <div class="col-md-4">
                <img src="./images/Logo1.png" alt="" width="275" height="100">
            </div>
            <div class="col-md-4">
                <img src="./images/logo6.png" alt="" width="275" height="100">
            </div>
            <div class="col-md-4">
                <img src="./images/small.png" alt="" width="275" height="100">
            </div>
        </div>
    </div>