<div class="property">
    <div class="container">
      <h1 class="text-center property-h1 drop">List of Properties</h1>
  
      <div class="form-group col-md-12">
        <input type="text" class="form-control" placeholder="Search for a property" ng-model="propertySearch">
      </div>
  
      <div class="row property-section">
  
        <table class="table table-hover">
          <tr>
            <th>Location Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Property Manager ID</th>
          </tr>
          <div class="form-group col-md-12 middle">
  
          </div>
          <tr ng-repeat="property in properties | filter: propertySearch" ui-sref="property({id: property.id})">
            <td>{{ property.locationName }}</td>
            <td>{{ property.address }}</td>
            <td>{{ property.city }}</td>
            <td>{{ property.state }}</td>
            <td>{{ property.zip }}</td>
            <td class="text-center">{{ property.propertymanagerId }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>